user_uuid = "9fb6c8f1-5fb0-4e23-8614-28aae7f32bcd"
bucket_name = "ltpailyzhq95qp96rps8jfb6j7jcs15u"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version = 1
assets_path = "/workspace/terraform-beginner-bootcamp-2023/public/assets"