terratowns_endpoint = "https://terratowns.cloud/api"
cowboy_bebop = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/cowboy-bebop"
    content_version = 1
}
chicken_bog = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/chicken-bog"
    content_version = 1
}